<div class="content-max">
    <div class="content-section" data-aos="zoom-in-down">
        <div class="content-body">
            <div class="content-father">
                <div class="menu">
                    <img [src]="logoKirusafe" alt="logo" class="menu-logo">
                    <div class="menu-desktop">
                        <div *ngFor="let item of listMenu" class="menu-desktop__item" (click)="redirect(item.id)">
                            {{item.title}}
                        </div>
                    </div>
                    <div class="menu-mobile">
                        <i class="gg-menu-right-alt" style="color:#731469"></i>
                    </div>
                </div>
                <div class="header-principal">
                    <div class="header-principal-box">
                        <div class="header-principal-box__title">{{headerContent.title}}</div>
                        <div class="header-principal-box__subtitle">{{headerContent.subTitle}}</div>
                        <div class="header-principal-box__description">{{headerContent.description}}</div>
                        <div>
                            <button style="outline:none" class="header-principal-box__btn" (click)="openLink(urlVideo)">
                                <span class="header-principal-box__btn__title">
                                    {{headerContent.btn}}
                                </span>
                                    <i class="gg-chevron-right-o"></i></button>
                        </div>
                    </div>
                    <img [src]="headerContent.img" alt="girls" class="header-principal-img">
                </div>
            </div>
        </div>
    </div>
    <div id="section-1" class="content-section" style="background: #F8D152" data-aos="zoom-in-down">
        <div class="content-body">
            <div class="content-father">
                <div class="section-one">
                    <div class="title-general">
                        <div class="title-general__line"></div>
                        <span class="title-general__text">{{sectionOne.title}}</span>
                    </div>
                    <div class="section-one-box">
                        <img [src]="sectionOne.img" alt="section-oneeeee" class="section-one-box__img">
                        <div class="section-one-box__description">
                            {{sectionOne.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-2" class="content-section" data-aos="zoom-in-down">
        <div class="content-body">
            <div class="content-father">
                <div class="section-two">
                    <div class="title-general">
                        <div class="title-general__line"></div>
                        <span class="title-general__text">{{sectionTwo.title}}</span>
                    </div>
                    <div class="section-two-box">
                        <div *ngFor="let item of sectionTwo.listItem" class="section-two-box-item"
                             (click)="checkBox(item)">
                            <div class="section-two-box-item-block">
                                <div class="section-two-box-item-block__icon"><i class="gg-add-r"></i></div>
                                <div class="section-two-box-item-block__description">{{item.description}}</div>
                            </div>
                            <div class="section-two-box-item-img">
                                <img *ngIf="item.flag" [src]="item.img" alt="img" class="section-two-box-item-img--img" data-aos="zoom-in-down">
                            </div>
                        </div>
                        <div class="section-two-info">Queremos ayudarte, escribenos a nuestro formulario o en nuestras redes sociales para más información.</div>
                        <button style="outline:none" class="section-two-btn" (click)="openForm()">
                            <span style="margin: 0 20px 0 0">Formulario</span><i class="gg-notes"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-3" class="content-section" style="background: #F8D152" data-aos="zoom-in-down">
        <div class="content-body">
            <div class="content-father">
                <div class="section-three">
                    <div class="title-general">
                        <div class="title-general__line"></div>
                        <span class="title-general__text">{{sectionThree.title}}</span>
                    </div>
                    <div class="section-three-box">
                        <div *ngFor="let item of sectionThree.listPersons" class="section-three-box-card" data-aos="zoom-in-down">
                            <img [src]="item.img" alt="section-threeeee" class="section-three-box-card__img">
                            <div class="section-three-box-card__carge">{{item.title}}</div>
                            <div class="section-three-box-card__title">{{item.carge}}</div>
                            <div class="section-three-box-card__description">{{item.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-4" class="content-section" data-aos="zoom-in-down">
        <div class="content-body">
            <div class="content-father">
                <div class="section-four">
                    <div class="title-general">
                        <div class="title-general__line"></div>
                        <span class="title-general__text">{{sectiorFour.title}}</span>
                    </div>
                    <div class="section-four-box">
                        <div *ngFor="let item of sectiorFour.listGroup" class="section-four-box-card" data-aos="zoom-in-down">
                            <img [src]="item.img" alt="section-fourrrr" class="section-four-box-card__img">
                            <div class="section-four-box-card__title">{{item.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section" style="background: #731469" data-aos="zoom-in-down">
        <div class="content-body">
            <div class="content-father">
                <div class="section-footer">
                    <div class="section-footer-left">
                        <div class="section-footer-left__title">{{sectionFooter.left.title}}</div>
                        <div class="section-footer-left__description">{{sectionFooter.left.description}}</div>
                    </div>
                    <div class="section-footer-right">
                        <div class="section-footer-right__socials">
                            <img *ngFor="let item of sectionFooter.right.socials"
                                 class="section-footer-right__socials__item" [src]="item.icon" alt=""
                                 (click)="openLink(item.url)">
                        </div>
                        <div class="section-footer-right__contact">
                            <div class="section-footer-right__contact__icon"><i class="gg-mail"></i></div>
                            <div>{{sectionFooter.right.email.text}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
