<div class="content-max">
    <div class="content-section">
        <div class="content-body">
            <div class="content-father">
                <div class="menu">
                    <img [src]="logoKirusafe" alt="logo" class="menu-logo">
                    <div class="menu-desktop">
                        <div *ngFor="let item of listMenu" class="menu-desktop__item">
                            {{item.title}}
                        </div>
                    </div>
                    <div class="menu-mobile">
                        <i class="gg-menu-right-alt" style="color:#731469"></i>
                    </div>
                </div>
                <div class="header-principal">
                    <div class="header-principal-box">
                        <div class="header-principal-box__title">{{headerContent.title}}</div>
                        <div class="header-principal-box__subtitle">{{headerContent.subTitle}}</div>
                        <div class="header-principal-box__description">{{headerContent.description}}</div>
                        <div>
                            <button class="header-principal-box__btn">
                            <span class="header-principal-box__btn__title">
                                {{headerContent.btn}}
                            </span>
                                <i class="gg-chevron-right-o"></i> </button>
                        </div>
                    </div>
                    <img [src]="headerContent.img" alt="girls" class="header-principal-img">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section" style="background: #F8D152">
        <div class="content-body">
            <div class="content-father">
                <div class="section-one">
                    <div class="title-general">
                        <div class="title-general__line"></div>
                        <span class="title-general__text">{{sectionOne.title}}</span>
                    </div>
                    <div class="section-one-box">
                        <img [src]="sectionOne.img" alt="section-one" class="section-one-box__img">
                        <div class="section-one-box__description">
                            {{sectionOne.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <div class="content-body">
            <div class="content-father">
                <div class="section-two">
                    <div class="title-general">
                        <div class="title-general__line"></div>
                        <span class="title-general__text">{{sectionTwo.title}}</span>
                    </div>
                    <div class="section-two-box">
                        <div *ngFor="let item of sectionTwo.listItem" class="section-two-box-item" (click)="checkBox(item)">
                            <div class="section-two-box-item-block">
                                <div class="section-two-box-item-block__icon"><i class="gg-add-r"></i></div>
                                <div class="section-two-box-item-block__description">{{item.description}}</div>
                            </div>
                            <div class="section-two-box-item-img">
                                <img *ngIf="item.flag" [src]="item.img" alt="img" class="section-two-box-item-img--img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section" style="background: #F8D152">
        <div class="content-body">
            <div class="content-father">
                Quienes confian en nostros
            </div>
        </div>
    </div>
    <div class="content-section">
        <div class="content-body">
            <div class="content-father">
                Footer
            </div>
        </div>
    </div>
</div>