/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

@mixin xss-devices {
  @media (max-width: 359px) {
    @content;
  }
}
// Extra small screen / phone
@mixin xs-devices {
  @media (max-width: 576px) {
    @content;
  }
}
// Small screen / phone
@mixin sm-devices {
  @media (max-width: 768px) {
    @content;
  }
}
// Medium screen / tablet
@mixin md-devices {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin md-lg-devices {
  @media (max-width: 1200px) {
    @content;
  }
}

// Large screen / wide desktop
@mixin lg-devices {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin lg-devices {
  @media (max-width: 1439px) {
    @content;
  }
}

// Extra large screen / wide desktop
@mixin xl-devices {
  @media (min-width: 1440px) {
    @content;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 216, 216);
}